body {
  margin: 0;
  padding: 0;
}

#carrossel {
  position: relative;
  width: 100%;
  height: 150px;
  background: greenyellow;
  overflow: hidden;
}

#horizontalScroll {
  position: absolute;
  width: auto;
  height: 100%;
  background: green;
  display: inline-flex;
  transition: 0.6s ease-in-out;
}

#horizontalScroll #item-scroll {
  position: relative;
  margin: 0 7px;
  width: 150px;
  height: 100%;
  background: gray;
  z-index: 2;
}

#horizontalScroll #item-scroll img {
  width: 100%;
  height: 100%;
}

#btnleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
  z-index: 3;
}

#btnright {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
  z-index: 3;
}

#horizontalScroll #limitador {
  position: absolute;
  margin: 0 7px;
  width: 150px;
  height: 100%;
  opacity: 0;
  right: 0;
  z-index: 1;
  background: blue;
}




.divteste{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 70vw;
}